<div class="ui inverted segment">
    <div class="ui inverted five cards">
        <div class="card">
            <div class="content">
                <a class="header">Tramore</a>
            </div>
        </div>
        <div class="inverted card">
            <div class="content">
                <a class="header">Weather</a>
                <div class="description">
                    Rain
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <a class="header">Temp</a>
                <div class="description">
                    6.0 C
                </div>
                <div class="description">
                    42.8 F
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <a class="header">Wind</a>
                <div class="description">
                    1 bft
                </div>
                <div class="description">
                    South South West
                </div>
                <div class="description">
                    Feels like
                </div>
                <div class="description">
                    6.8
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <a class="header">Pressure</a>
                <div class="description">
                    1004 hpa
                </div>
            </div>
        </div>
    </div>
</div>

