#{list items:_station, as:'station'}
<div class="ui segment">
    <div class="ui inverted five cards">
        <div class="card">
            <div class="content">
                <div class="header">${station.name}</div>
            </div>
        </div>
        <div class="inverted card">
            <div class="content">
                <div class="header">Weather</div>
                <div class="description">
                    ${station.latestWeatherCondition}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Temp</div>
                <div class="description">
                    ${station.latestTempC} C
                </div>
                <div class="description">
                    ${station.latestTempF} F
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Wind</div>
                <div class="description">
                    ${station.beaufort} bft
                </div>
                <div class="description">
                    ${station.latestWindDirection}
                </div>
                <div class="description">
                    Feels like:
                </div>
                <div class="description">
                    ${station.windChill}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <div class="header">Pressure</div>
                <div class="description">
                    ${station.latestPressure} hpa
                </div>
            </div>
        </div>
    </div>
</div>
#{/list}


